PI.Application/bin/Debug/net6.0/PI.Application.dll
PI.Application/bin/Debug/net6.0/PI.Application.pdb
PI.Application/bin/Debug/net6.0/PI.Domain.dll
PI.Application/bin/Debug/net6.0/PI.Domain.pdb
PI.Application/obj/PI.Application.csproj.nuget.dgspec.json
PI.Application/obj/project.assets.json
PI.Application/obj/project.nuget.cache
PI.Application/bin/Debug/net6.0/PI.Application.dll
PI.Application/bin/Debug/net6.0/PI.Application.pdb
PI.Application/bin/Debug/net6.0/PI.Domain.pdb
PI.Application/obj/project.assets.json
PI.Application/bin/Debug/net6.0/PI.Domain.dll
PI.Application/obj/PI.Application.csproj.nuget.dgspec.json
PI.Application/obj/Debug/net6.0/PI.Application.AssemblyInfo.cs
PI.Application/obj/project.nuget.cache
PI.Application/obj/Debug/net6.0/PI.Application.csproj.BuildWithSkipAnalyzers
PI.Application/obj/Debug/net6.0/PI.Application.csproj.AssemblyReference.cache
PI.Domain/obj/Debug/net6.0/PI.Domain.csproj.FileListAbsolute.txt
PI.Domain/obj/Debug/net6.0/PI.Domain.dll
PI.Domain/obj/Debug/net6.0/PI.Domain.pdb
PI.Domain/obj/Debug/net6.0/PI.Domain.genruntimeconfig.cache
*.dll
/obj 
*.pdb
