PI.Application/bin/Debug/net6.0/PI.Application.dll
PI.Application/bin/Debug/net6.0/PI.Application.pdb
PI.Application/bin/Debug/net6.0/PI.Domain.dll
PI.Application/bin/Debug/net6.0/PI.Domain.pdb
PI.Application/obj/PI.Application.csproj.nuget.dgspec.json
PI.Application/obj/project.assets.json
PI.Application/obj/project.nuget.cache
PI.Application/bin/Debug/net6.0/PI.Application.dll
PI.Application/bin/Debug/net6.0/PI.Application.pdb
PI.Application/bin/Debug/net6.0/PI.Domain.pdb
PI.Application/obj/project.assets.json
PI.Application/bin/Debug/net6.0/PI.Domain.dll
PI.Application/obj/PI.Application.csproj.nuget.dgspec.json
PI.Application/obj/Debug/net6.0/PI.Application.AssemblyInfo.cs
PI.Application/obj/project.nuget.cache
PI.Application/obj/Debug/net6.0/PI.Application.csproj.BuildWithSkipAnalyzers
PI.Application/obj/Debug/net6.0/PI.Application.csproj.AssemblyReference.cache
PI.Domain/obj/Debug/net6.0/PI.Domain.csproj.FileListAbsolute.txt
PI.Domain/obj/Debug/net6.0/PI.Domain.dll
PI.Domain/obj/Debug/net6.0/PI.Domain.pdb
PI.Domain/obj/Debug/net6.0/PI.Domain.genruntimeconfig.cache
*.dll
/obj 
*.pdb
PI.Application/bin/Debug/net6.0/PI.Application.deps
PI.Application/obj/PI.Application.csproj.nuget.g.targets
PI.Application/obj/Debug/net6.0/PI.Application.csproj.CopyComplete
PI.Application/obj/PI.Application.csproj.nuget.g.props
PI.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PI.Application/obj/Debug/net6.0/PI.Application.AssemblyInfoInputs.cache
PI.Application/obj/Debug/net6.0/PI.Application.assets.cache
PI.Application/obj/Debug/net6.0/PI.Application.csproj.CoreCompileInputs.cache
PI.Application/obj/Debug/net6.0/PI.Application.GlobalUsings.g.cs
PI.Application/obj/Debug/net6.0/PI.Application.csproj.FileListAbsolute.txt
PI.Application/obj/Debug/net6.0/PI.Application.GeneratedMSBuildEditorConfig.editorconfig
PI.Domain/bin/Debug/net6.0/PI.Domain.deps.json
PI.Domain/obj/PI.Domain.csproj.nuget.dgspec.json
PI.Domain/obj/PI.Domain.csproj.nuget.g.targets
PI.Domain/bin/Debug/net6.0/PI.Domain.runtimeconfig.json
PI.Domain/obj/PI.Domain.csproj.nuget.g.props
PI.Domain/obj/project.assets.json
PI.Domain/obj/project.nuget.cache
PI.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PI.Domain/obj/Debug/net6.0/PI.Domain.AssemblyInfo.cs
PI.Domain/obj/Debug/net6.0/PI.Domain.AssemblyInfoInputs.cache
PI.Domain/obj/Debug/net6.0/PI.Domain.assets.cache
PI.Domain/obj/Debug/net6.0/PI.Domain.csproj.CoreCompileInputs.cache
PI.Domain/obj/Debug/net6.0/PI.Domain.csproj.AssemblyReference.cache
PI.Domain/obj/Debug/net6.0/PI.Domain.GeneratedMSBuildEditorConfig.editorconfig
PI.Domain/obj/Debug/net6.0/PI.Domain.GlobalUsings.g.cs
PI.Infra.Data/bin/Debug/net6.0/PI.Infra.Data.deps.json
PI.Infra.Data/bin/Debug/net6.0/PI.Infra.Data.runtimeconfig.json
PI.Infra.Data/obj/PI.Infra.Data.csproj.nuget.dgspec.json
PI.Infra.Data/obj/PI.Infra.Data.csproj.nuget.g.targets
PI.Infra.Data/obj/PI.Infra.Data.csproj.nuget.g.props
PI.Infra.Data/obj/project.assets.json
PI.Infra.Data/obj/project.nuget.cache
PI.Infra.Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.genruntimeconfig.cache
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.GeneratedMSBuildEditorConfig.editorconfig
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.csproj.CoreCompileInputs.cache
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.csproj.FileListAbsolute.txt
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.csproj.AssemblyReference.cache
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.csproj.CopyComplete
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.assets.cache
PI.Infra.IoC/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.AssemblyInfo.cs
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.AssemblyInfoInputs.cache
PI.Infra.IoC/obj/project.nuget.cache
PI.Infra.IoC/obj/project.assets.json
PI.Infra.IoC/obj/PI.Infra.IoC.csproj.nuget.g.targets
PI.Infra.IoC/obj/PI.Infra.IoC.csproj.nuget.g.props
PI.Infra.IoC/obj/PI.Infra.IoC.csproj.nuget.dgspec.json
PI.Infra.IoC/bin/Debug/net6.0/PI.Infra.IoC.deps.json
PI.Infra.IoC/bin/Debug/net6.0/PI.Infra.IoC.runtimeconfig.json
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.GlobalUsings.g.cs
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.genruntimeconfig.cache
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.GeneratedMSBuildEditorConfig.editorconfig
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.csproj.FileListAbsolute.txt
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.csproj.CoreCompileInputs.cache
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.csproj.CopyComplete
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.assets.cache
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.csproj.AssemblyReference.cache
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.AssemblyInfoInputs.cache
PI.Infra.Data/obj/Debug/net6.0/PI.Infra.Data.AssemblyInfo.cs
PI.Infra.IoC/obj/Debug/net6.0/PI.Infra.IoC.GlobalUsings.g.cs
PI.Web/bin/Debug/net6.0/appsettings.Development.json
PI.Web/bin/Debug/net6.0/appsettings.json
PI.Web/bin/Debug/net6.0/PI.Web.deps.json
PI.Web/bin/Debug/net6.0/PI.Web.exe
PI.Web/bin/Debug/net6.0/PI.Web.runtimeconfig.json
PI.Web/bin/Debug/net6.0/PI.Web.staticwebassets.runtime.json
PI.Web/bin/Debug/net6.0/Views/manifest.json
PI.Web/bin/Debug/net6.0/Views/assets/logos/assetsIcons/AppIcon.appiconset/Contents.json
PI.Web/obj/PI.Web.csproj.nuget.dgspec.json
PI.Web/obj/PI.Web.csproj.nuget.g.props
PI.Web/obj/PI.Web.csproj.nuget.g.targets
PI.Web/obj/project.assets.json
PI.Web/obj/project.nuget.cache
PI.Web/obj/staticwebassets.pack.sentinel
PI.Web/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
PI.Web/obj/Debug/net6.0/apphost.exe
PI.Web/obj/Debug/net6.0/PI.Web.AssemblyInfo.cs
PI.Web/obj/Debug/net6.0/PI.Web.AssemblyInfoInputs.cache
PI.Web/obj/Debug/net6.0/PI.Web.assets.cache
PI.Web/obj/Debug/net6.0/PI.Web.csproj.AssemblyReference.cache
PI.Web/obj/Debug/net6.0/PI.Web.csproj.CopyComplete
PI.Web/obj/Debug/net6.0/PI.Web.csproj.CoreCompileInputs.cache
PI.Web/obj/Debug/net6.0/PI.Web.csproj.FileListAbsolute.txt
PI.Web/obj/Debug/net6.0/PI.Web.GeneratedMSBuildEditorConfig.editorconfig
PI.Web/obj/Debug/net6.0/PI.Web.genruntimeconfig.cache
PI.Web/obj/Debug/net6.0/PI.Web.GlobalUsings.g.cs
PI.Web/obj/Debug/net6.0/PI.Web.MvcApplicationPartsAssemblyInfo.cache
PI.Web/obj/Debug/net6.0/PI.Web.RazorAssemblyInfo.cache
PI.Web/obj/Debug/net6.0/PI.Web.RazorAssemblyInfo.cs
PI.Web/obj/Debug/net6.0/project.razor.json
PI.Web/obj/Debug/net6.0/staticwebassets.build.json
PI.Web/obj/Debug/net6.0/staticwebassets.development.json
PI.Web/obj/Debug/net6.0/scopedcss/bundle/PI.Web.styles.css
PI.Web/obj/Debug/net6.0/scopedcss/projectbundle/PI.Web.bundle.scp.css
PI.Web/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
PI.Application/bin/Debug/net6.0/PI.Application.deps.json
/PI.Web/obj/project.packagespec.json
/PI.Web/obj/project.packagespec.json
*.json
.vs/PI/FileContentIndex/bdc90f51-d7c4-481f-a39d-dc631d6a479c.vsidx
.vs/PI/FileContentIndex/c59c5a39-c00c-4e1e-bee8-f5c1361265a8.vsidx
.vs/PI/FileContentIndex/1d3eceda-9732-4a8f-ad9e-0bb9ae425a10.vsidx
.vs/PI/FileContentIndex/4d5dff4a-63cd-47a9-a22e-b03b4efb45bf.vsidx
.vs/PI/FileContentIndex/7b64defa-89a9-4208-a1bc-4eb2084ebff5.vsidx
*.vsidx
.vs/PI/v17/.futdcache.v2
.vs/PI/DesignTimeBuild/.dtbcache.v2
*.vs
/PI.Web/obj/Debug/net6.0
/Visudata.Application/obj/Debug/net6.0
/Visudata.Domain/obj/Debug/net6.0
/Visudata.Application/obj/Release/net6.0
/Visudata.Domain/obj/Release/net6.0
/Visudata.Infra.Data/obj/Release/net6.0
/Visudata.Infra.IoC/obj/Release/net6.0
/Visudata.Web/bin/Debug/net6.0
/Visudata.Web/obj/Debug/net6.0
/Visudata.Web/obj
/Visudata.Infra.IoC/obj
/Visudata.Infra.Data/obj
/Visudata.Application/obj
/Visudata.Domain/obj
/Visudata.Infra.Data/Migrations
/.idea/.idea.Visudata/.idea
