
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header{
    height: 70px;
    background-color: #F7F7F7;

}

header .name-app{
    font-size: 25px;
}

#status-container{
  padding: 15px;
  margin-top: 10px;
}


.container-categories{
    padding: 20px;
    right: 0;
    left: 0;
}

.text-div{
    background-color: #09427D;
    border-radius: 8px;
    
}

#navbar {
    background-color: #09427D;
}

