<html>
    <head>
        <!-- JS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        
        <!-- Custom styles for this template-->
        <link href="../assets/styles/sb-admin-2.css" rel="stylesheet
    </head>

    <body>

        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                        <hr>
                        Styling for the area chart can be found in the
                        <code>/js/demo/chart-area-demo.js</code> file.
                    </div>
                </div>
            </div>
        </div>
        <!-- Modulo do Grafico -->
        <script src="../assets/js/node_modules/chart.js/Chart.min.js"></script>
        <!-- Script do Grafico -->
        <script src="../assets/js/src/chart-area-demo.js"></script>
        <!-- CSS de responsividade do Gráfico -->
        <script src="../assets/styles/grafico.css"></script>
    </body>
    
    </html>




