* {
    /*box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.8);*/
    font-family: system-ui;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.machineText{
    font-size: 25px; 
    text-align:center; 
    max-width:250px; 
    align-items: center;
}

.maquinaSpan{
    font-size: 25px; 
    color: #2b5690; 
    text-align:center; 
    font-weight: bold;
}

header {
    margin-bottom: 5%;
}

#navbar {
    background-color: #2b5690;
    
}

label{
    font-weight: 400;
    margin-bottom: 1%;
}

.itens{
    padding-bottom: 10px;
}

 .modelName, .brandName {
    font-weight: bold;
    float: left;
    width: 40%;
}


input{
    width: 45px; 
    border-color: transparent white rgb(200, 198, 198) transparent;
}

 .tagName, .categoryName, #categoryName {
    font-weight: bold;
    float: right;
    width: 40%;
}

.tipos-container{
    margin-top: 8%;
}

 .noiseName, .vibraName, .tempName {  
    align-items: center;
    margin-top: 8%;
} 

.icone {
    font-size: 25px;
}

#sendButton {
    padding: 10px;
    font-size: 20px; 
    background-color: #2b5690 !important; 
    border: none;
    width: 100%;

}

@media (min-height: 680px) and (max-height:915px)
{
    .machineText{
        max-width: none;
        margin-top: 5%;
        font-size: 35px;
    }

    .machineText span{
        font-size: 35px;
    }

    .forms-container, .maxemin{
        margin-top: 10%;
    }

    .divButton{
        flex-direction: column;
        display: flex;
        height: 100px;
        margin-bottom: 6%;
        justify-content: flex-end;
    }

}

@media (min-width: 342px) and (max-width: 360px){
    .machineText{
        font-size: 25px;
    }

    .machineText span{
        font-size: 25px;
    }

    .divButton{
        height: 80px;
    }

    .divButton a{
        padding: 8px !important;
    }


}
