body{
    bottom: 0;
    position: relative;
    padding: 0;
    height: auto;
    max-height: 915px;
    text-decoration: none !important;
}
/* HEADER */

.backButton{
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.editBox{
    padding-right: 0 !important;
    margin-right: 0 !important;
}

    
.titleInfo{
    display: inline; 
    font-size: 20px; 
    color: #09427D; 
    text-align:center; 
    font-weight: bold;
    margin-top: 2%;
}

a {
    color: #2b5690 !important;
}

    /* MAIN */

.container {
    margin-top: 5% !important;
}
    .chartArea{
    height: 220px;
}

.input-group-text {
    color: white;
    background-color: #2b5690;
    border-radius: 0 !important;
}

/* FOOTERS */
.statusAction {
    padding: 2% 0 2% 0;
    font-size: 20px;
   
}

.statusAction span{
    font-weight: 400 !important;
}

.statusEspe {
    padding: 3% 0% 3% 0%;
    text-align: center;
}

.statusEspe p{
    font-size: 18px;
    font-weight: 500;
}

.button{
    width: 110px;
    padding: 10% 0 10% 0;
    background-color: #2b5690;

}

.especContainer {
    margin-bottom: 8%;
}

    /* RESPONSIVIDADE */

@media (min-height: 680px) and (max-height:915px) {
    .chartArea{
        height: 320px;
    }

    .rowStyle{
        height: 290px;
    }

    .button{
        width: 110px;
        padding: 10% 0 10% 0;
        background-color: #2b5690;
    }

    .statusAction{
        padding: 8% 0 8% 0; 
    }

}

/* Galaxy S8+ */
@media (width:360px) and (height: 740px)  {
    .rowStyle{
        height: 240px;
    }
    .chartArea{
        height: 300px;
    }
}
