:root {
    --font-primary: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--font-primary) !important;
}

h2 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

.machineText {
    font-size: 35px;
    text-align: left;
}

    .machineText span {
        font-size: 30px;
        font-weight: bold;
    }


.maquinasSelect .card-header {
    font-weight: 500;
}

.statusMaquina span {
    max-width: 16px;
    max-height: 16px;
}

.statusMaquina .num {
    max-width: 90px;
}

/* .card-header{
    background-color: #e5f0ff !important;
    border-color: #8dc0f7;
} */

.card-header {
    background-color: #2b5690 !important;
    border-color: #8dc0f7;
    color: white;
}

.card-footer {
    background-color: white !important;
}

.maquinasSelect {
    margin-bottom: 8%;
}

#navbar {
    background-color: #2b5690;
}

.icone {
    font-size: 25px;
}

.svg-icon{
    width: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
}


@media (max-width:376px) {
    h2 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    .maquinasSelect i {
        font-size: 14px;
    }

    .maquinasSelect span {
        height: 15px;
    }

    .machineText{
        font-size: 28px
    }
}

@media (min-width:390px) and (max-width:414px) {
    h2 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }
}


