
.link{
    text-decoration: none;
    color: black;
}

@media (min-width:389px) and (max-width:414px) {
    .logo, .form-container, .btn, .links-container{
        margin-top: 15%;
    }

}


/* 390 - 844
393 - 851
412 - 915
414 - 896 */
