body {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

.header{
    width: 100%;
}
.header p{
    margin-top: 5%;
    font-size: 20px; 
    font-weight: bold;
    text-align: center;
}

.tabel-card-header{
    margin-top: 8%;
}

.tabel-text {
    background-color: #09427D;
    text-align: center;
    color: white;
    padding: 3%;
}


.card-body{
    padding: 4px;
   
}

.card-infos{
    border-radius: 0% !important;
    margin-top: 5%;
    font-size: 14px;
}


.card-infos .card-body{
    margin-top: 3%;
}

.containers-values{
    margin-left: -5%;
}


