<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_detalhes.css">
    <title>Lista de Máquinas</title>
</head>

<body>
    <header>
        <container class="tituloHeader">
            <a  href="./tela_Inicio.html"><img src="/assets/seta2.png" class="seta" alt="seta"></a>
            <h2>Modelo HT-670M</h2>
            <nav id="nav">
                <button aria-label="Abrir Menu" id="btn-mobile" aria-controls="menu">
                    <span id="hamburger"></span>
                </button>
                <ul id="menu" role="menu">
                <li><a href="/layouts/tela_Inicio.html">Home</a></li>
                <li><a href="/">Produtos</a></li>
                <li><a href="/">Portfólio</a></li>
                <li><a href="/">Contato</a></li>
                </ul>
            </nav>
        </container>
    </header>
    <main>

    
    <div class="menuModelo">
        <div class="botoesMenu">
            <label class="realTime"><a href='#'>Tempo real</a></label>
            <label class="hystory"><a href='#'>Histórico</a></label>
            <label class="export"><a href='#'>Exportar</a></label>
        </div>

        <!-- aqui o gráfico para fazer o que não sei e por isso peguei uma imagem... -->
        <p class="statusMsg"> Status</p>
        <div>
            <img src="../assets/Grafico.png" width="350px" height="350px" alt="grafico1" class="grafico1">
        </div>

        <container class="MenuInferior">
            <div class="botoesConfig">
                <button class="tempBut"></button>
                <label class="temperatura" button>Temperatura</label>

                <button class="vibraBut"></button>
                <label class="vibra"> Vibração</label>

                <button class="ruidBut"></button>
                <label class="ruido"> Ruído</label>
            </div>
        </container>

            <div class="asdasdasd">
            <div class="menuInfo">
                <div class="tempNome">
                    <label>Temperatura</p></div>
                        <div class="tempVal">
                        <button class="temp1"> 75 ºC </button></div>

                        <!-- <button class="grafico">
                            teste
                        </button> -->

                        <p>Ruído</p>
                        <button class="ruido1"> 220 dB</button>
                        <p>Vibração</p>
                        <button class="vibra1"> 64 Hz</button>

            </div>


        </div>

    </div> 




    </main>


    <!-- espaço para scripts. -->
    <script></script>
    <script src="/scripts/script.js"></script>

</body>

</html>