<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lista de Máquinas</title>
</head>

<body>
    <header>
        <div>

            <h2 class="tituloHeader">
                <img src="../assets/seta2.png" class="seta" alt="seta" href="../layouts/tela_Inicio.html"> Modelo
                HT-670M
                <img src="../assets/menu3Listras2.png" class="menu" alt="menu">
            </h2>
        </div>
    </header>
    <main>

        <div class="menuModelo">
            <div class="botoesMenu">
                <label class="realTime">Tempo real</label>
                <label class="hystory"> Histórico</label>
                <label class="export"> Exportar</label>
            </div>

            <!-- aqui o gráfico para fazer o que não sei e por isso peguei uma imagem... -->
            <p class="statusMsg"> Status</p>
            <div>
                <img src="../assets/Grafico.png" width="350px" height="350px" alt="grafico1" class="grafico1">
            </div>

            <div class="MenuInferior">
                <div class="botoesConfig">
                    <button class="tempBut"></button>
                    <label class="temperatura" button>Temperatura</label>

                    <button class="vibraBut"></button>
                    <label class="vibra"> Vibração</label>

                    <button class="ruidBut"></button>
                    <label class="ruido"> Ruido</label>
                </div>
            </div>

            <!-- <div class="asdasdasd">
                <div class="menuInfo">
                    <label>Temperatura</p>
                        <button class="temp1"> 75 ºC</button>

                        <button class="grafico">
                            teste
                        </button>

                        <p>Ruído</p>
                        <button class="ruido1"> 220 dB</button>
                        <p>Vibração</p>
                        <button class="vibra1"> 64 Hz</button>

                </div>


            </div>

        </div> -->


    </main>


    <!-- espaço para scripts. -->
    <script>

    </script>

</body>

</html>