<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_lista.css">
    <title>Lista de Máquinas</title>
</head>

<body>
    <header>
        <div>
            <h2 class="tituloHeader">
                <img src="/assets/seta.png" class="seta" alt="seta" href="./tela_Inicio.html"> 
                Lista de Máquinas
            </h2>
        </div>
    </header>

    <main>

        <div class="Modelos">
            <div class="conteudoModelos">
                <button class="botaoModeloMaquina2">Modelo:
                    <label class="Maquina"> HT-670M <br></label>
                    <label class="SeriePalavra"> Série: </label>
                    <label class="NumeroSerie">B516X54566</label>
                    <label class="MarcaPalavra"> Marca: </label>
                    <label class="MarcaNome"> Minipa </label>
                </button>

                <!-- conteúdo -->

                <div class="status1">
                    <label class="temperatura1">Temperatura</label>
                    <label class="temperaturaValor1">75 ºC</label><br>

                    <label class="ruido1">Ruído</label>
                    <label class="ruidoValor1">220 dB</label><br>

                    <label class="vibra1">Vibração</label>
                    <label class="vibraValor1">64 Hz</label><br>

                    <label class="status2">Status</label>
                    <label class="statusValor2">Crítico</label><br>
                </div>


            </div>
        </div>

        <div class="Modelos">
            <div class="conteudoModelos">
                <button class="botaoModeloMaquina">Modelo:
                    <label class="Maquina"> HT-670M <br></label>
                    <label class="SeriePalavra"> Série: </label>
                    <label class="NumeroSerie">B516X54566</label>
                    <label class="MarcaPalavra"> Marca: </label>
                    <label class="MarcaNome"> Minipa </label>
                </button>

                <!-- conteúdo -->

                <div class="status1">
                    <label class="temperatura1">Temperatura</label>
                    <label class="temperaturaValor1">75 ºC</label><br>

                    <label class="ruido1">Ruído</label>
                    <label class="ruidoValor1">220 dB</label><br>

                    <label class="vibra1">Vibração</label>
                    <label class="vibraValor1">64 Hz</label><br>

                    <label class="status2">Status</label>
                    <label class="statusValor2">Crítico</label><br>
                </div>


            </div>
        </div>
        
        <div class="Modelos">
            <div class="conteudoModelos">
                <button class="botaoModeloMaquina2">Modelo:
                    <label class="Maquina"> HT-670M <br></label>
                    <label class="SeriePalavra"> Série: </label>
                    <label class="NumeroSerie">B516X54566</label>
                    <label class="MarcaPalavra"> Marca: </label>
                    <label class="MarcaNome"> Minipa </label>
                </button>

                <!-- conteúdo -->

                <div class="status1">
                    <label class="temperatura1">Temperatura</label>
                    <label class="temperaturaValor1">75 ºC</label><br>

                    <label class="ruido1">Ruído</label>
                    <label class="ruidoValor1">220 dB</label><br>

                    <label class="vibra1">Vibração</label>
                    <label class="vibraValor1">64 Hz</label><br>

                    <label class="status2">Status</label>
                    <label class="statusValor2">Crítico</label><br>
                </div>


            </div>
        </div>

        <div class="Modelos">
            <div class="conteudoModelos">
                <button class="botaoModeloMaquina3">Modelo:
                    <label class="Maquina"> HT-670M <br></label>
                    <label class="SeriePalavra"> Série: </label>
                    <label class="NumeroSerie">B516X54566</label>
                    <label class="MarcaPalavra"> Marca: </label>
                    <label class="MarcaNome"> Minipa </label>
                </button>

                <!-- conteúdo -->

                <div class="status1">
                    <label class="temperatura1">Temperatura</label>
                    <label class="temperaturaValor1">75 ºC</label><br>

                    <label class="ruido1">Ruído</label>
                    <label class="ruidoValor1">220 dB</label><br>

                    <label class="vibra1">Vibração</label>
                    <label class="vibraValor1">64 Hz</label><br>

                    <label class="status2">Status</label>
                    <label class="statusValor2">Crítico</label><br>
                </div>


            </div>
        </div>

        <div class="Modelos">
            <div class="conteudoModelos">
                <button class="botaoModeloMaquina">Modelo:
                    <label class="Maquina"> HT-670M <br></label>
                    <label class="SeriePalavra"> Série: </label>
                    <label class="NumeroSerie">B516X54566</label>
                    <label class="MarcaPalavra"> Marca: </label>
                    <label class="MarcaNome"> Minipa </label>
                </button>

                <!-- conteúdo -->

                <div class="status1">
                    <label class="temperatura1">Temperatura</label>
                    <label class="temperaturaValor1">75 ºC</label><br>

                    <label class="ruido1">Ruído</label>
                    <label class="ruidoValor1">220 dB</label><br>

                    <label class="vibra1">Vibração</label>
                    <label class="vibraValor1">64 Hz</label><br>

                    <label class="status2">Status</label>
                    <label class="statusValor2">Crítico</label><br>
                </div>


            </div>
        </div>
        
    </main>

    <script>
        const Modelos = document.getElementsByClassName('conteudoModelos');

        for (i = 0; i < Modelos.length; i++) {
            Modelos[i].addEventListener('click', function() {
                this.classList.toggle('active')
            })
        }

    </script>

</body>



</html>