<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_suporte.css">

    <!-- Links pro PWA -->
    <noscript><link rel="stylesheet" href="../styles/noscript.css" /></noscript>
    <link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileImage" content="../assets/AppIcons/Assets.xcassets/AppIcon.appiconset/icon_144">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff" />
    <link rel="shortcut icon" sizes="192x192" href="../assets/AppIcons/Assets.xcassets/AppIcon.appiconset/icon_192">
    <link rel="shortcut icon" sizes="128x128" href="../assets/AppIcons/Assets.xcassets/AppIcon.appiconset/icon_128">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PWA Teste">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    <link rel="apple-touch-icon" href="../assets/AppIcons/appstore.png">

    <title>Suporte</title>
</head>
<body>
    <header>
        <div>
            <a href="./tela_Inicio.html">
            <h2 class="tituloHeader">
                <img src="../assets/Logo_Fundo_Branco.png" alt="Logo Senac" class="logo">
                <img src="../assets/MONITREC_Sombreado.png" width="200px" alt="Logo da empresa"/>
            </h2>
            </a>
        </div>
    </header>
    <main>
        <h1>Suporte técnico</h1>
        <div class="bodyForms">
            <label>Empresa</label>
            <br>
            <input class="inputPadrao" type="text" />
            <br>
            <label>Email do representante</label>
            <br>
            <input class="inputPadrao" type="email" />
            <br>
            <label class="categoria">Categoria
                <select name="categoria" id="categoria">
                    <option value="ejetoras">Injetora</option>
                    <option value="moteres">Motores</option>
                </select>
            </label>
            <br>
            <label>Enviar uma cópia para o email <input class="checkbox" type="checkbox"></label>
            <br>
            <label class="detalhes">Detalhes do problema</label>
            <br>
            <textarea class="detalhesTexto" placeholder="Escreva a localização" type="text" cols="50" rows="1"></textarea>
            <br>
            
        </div>
        
    </main>
    <footer>
        <div>
            <a href="tela_Inicio.html">
            <button class="butaoEnviar">Enviar</button></a>
        </div>
    </footer>
    
</body>
</html>