<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VisuData</title>

  <!-- Icone da aba -->
  <link rel="shortcut icon" href="../assets/Img/favicon-white.ico" type="image/x-icon" />


  <!-- CSS -->
  <link rel="stylesheet" href="../assets/styles/home.css"> <!--Font-->
  <link rel="stylesheet" href="../assets/styles/login.css">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/Icons/bootstrap-icons/bootstrap-icons.css">
 
  <!-- Fonts -->
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/dfbf29b648.js" crossorigin="anonymous"></script>



</head>

<body>
  
    <header class="logo">
        <div class="container mt-3 d-flex justify-content-center">
            <img src="../assets/Img/Logo.png" alt="Logo" width="150" height="130" class="">
        </div>
        <div class="container mt-3 d-flex justify-content-center">
            <h1 class="">VISU<span style="color: #0E56A0;">DATA</span></h1>
        </div>
    </header>

    <main>
        <div class="container mt-4 main">
            <div class="form-container container-fluid"> 
              <div class="forms">
                <div class="mb-3">
                    <label for="cnpjEnterprise" class="form-label">CNPJ da Empresa</label>
                    <input type="cnpjEmpresa" class="form-control" id="cnpjInput" placeholder="CNPJ">
                </div>
                <div class="mb-3">
                    <label for="cnpjEnterprise" class="form-label">Senha</label>
                    <input type="senhaEmpresa" class="form-control" id="senhaInput" placeholder="Senha do login">
                </div>
            </div>
            <div class="form-check-lembrar">
                <div class="form-check mt-4">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Lembrar de mim nos próximos 30 dias
                    </label>
                  </div>   
            </div>
            </div>

        <!-- botão cadastrar -->
        <div class="d-grid gap-2 col-10 mx-auto mt-3 mb-5" >
            <a class="btn btn-primary fs-4" style="background-color: #0E56A0;" href="../Home/index.html">Login</a>
        </div>

        <div class="container links-container d-grid justify-content-center ">
            <a>Esqueceu sua senha?</a>
            <a href="../Enterprise/create.html" class="link">Não tem cadastro? <span style="color: #0E56A0;">Cadastre-se</span></a>
        </div>
        </div>
    </main>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

</body>

</html>