<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/styles/menu_profile.css">
    <title>Menu de usuário</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/styles/home.css">

    <!-- Icone da aba -->
    <link rel="shortcut icon" href="../assets/Img/favicon-white.ico" type="image/x-icon" />


    <!-- Bootstrap -->
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/Icons/bootstrap-icons/bootstrap-icons.css">

    <!-- Fonts -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/dfbf29b648.js" crossorigin="anonymous"></script>


</head>

<body>
    <header>
        <a href="../home/index.html">
            <img src="../assets/Icons/SVGIcons/volta-2.svg" alt="voltar">
        </a>
        <div class="container d-flex justify-content-center" >
            <img src="../assets/Img/logo-visu.png" class="logo" alt="logo">
        </div>
    </header>
    <main>
        <div class="main container-fluid">
            <div class="container">
                <div class="row" id="row">
                    <div class="col-2 icones">
                        <i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="col-9">
                        <div class="row content-menu" id="row">
                            <div class="col-5" id="categoria">Meus Dados</div>
                            <div class="col-9" id="categoria-1">Informações da conta</div>
                        </div>
                    </div>
                    <div class="col-1 entrar">
                        <a href="profile.html">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row" id="row">
                    <div class="col-2 icones">
                        <i class="bi bi-headset"></i>
                    </div>
                    <div class="col-9">
                        <div class="row content-menu" id="row">
                            <div class="col-5" id="categoria-a">Suporte</div>
                            <div class="col-9" id="categoria-2">Minha central de ajuda</div>
                        </div>
                    </div>
                    <div class="col-1 entrar">
                        <a href="Support.cshtml">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="row" id="row">
                    <div class="col-2 icones">
                        <i class="bi bi-box-arrow-left"></i>
                    </div>
                    <div class="col-9">
                        <div class="row content-menu" id="row">
                            <div class="col-5" id="categoria-b">Sair</div>
                            <div class="col-9" id="categoria-3">Retornar ao login</div>
                        </div>
                    </div>
                    <div class="col-1 entrar">
                        <a href="login.html">
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Navbar/Menu navegação -->
    <footer>
        <nav class="nav fixed-bottom nav-fill" id="navbar">
            <li class="nav-item" id="home_button">
                <a class="btn me-2 " href="#"> <i class="icone bi bi-house-door text-light"></i> </a>
            </li>
            <li class="nav-item " id="create_button">
                <a class="btn  me-2" href="../Machine/Create.html"><i class="bi bi-plus-circle text-light icone"></i>
                </a>
            </li>
            <li class="nav-item" id="list_button">
                <a class="btn  me-2" href="../Machine/List.html"><i class="bi bi-list-ul text-light icone"></i></a>
            </li>
            <li class="nav-item" id="profile_button">
                <a class="btn  me-2" href="../Enterprise/menu_profile.html"><i
                        class="bi bi-person text-light icone"></i></a>
            </li>

        </nav>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>