body{
    background-color:#09427D;
}
header {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #09427D;
    padding-top: 5%;
}

.logo {
    border-radius: 50%;
    padding: 10px;
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tituloHeader{
    display: flex;
    margin: auto;
    align-items: center;
    color: #FFFFFF
}

ul li{
    list-style-type: none;
    display: inline;
    right: 0;
    left: 0;
    margin: auto;
}

a{
    text-decoration: none;
}

.divFiltros{
    padding: 0 5% 0 5% ;
}
.filtrosTeste{
    display: inline-flex;
    left:0%;
    right: 0%;
    width: 100%;
 
}
.paragrafo{
    padding-right: 10%;
    color: #B0B0B0;
    margin:0;
}


.grafico{
    left: 0;
    right: 0;
    width: 90%;
    margin-top: 90px;
    margin-left: 20px;
    border-radius: 20px;
    border-top-left-radius: 20px;
}

.visaoGeral {
    position: fixed;
    margin-top: -370px;
    margin-left: 25px;
    color: #09427D;

}
.paragrafod {
    padding-right: 10%;
    color: #09427D;
    margin:0;
}

.principal {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 20%;
    bottom: 0;
    background: #FFFFFF;
    border-radius: 30px 30px 0px 0px;
}

/* Categoria */
.divCategoria{
    position: fixed;
    top: 65%;
    bottom: 0;
    right: 0;
    left: 0;
}

.categoria {

    font-family: 'Roboto';
    display:flex;
    margin: 0;
    align-items: center;
    color: #09427D;
    padding-left: 5%;
    margin-top: 10%;
}

.imgCategoria1{
    width: 160px;
    height:100px;
    padding: 0;
    background-color: #09427D;
    border-radius: 10px;
}

.imgCategoria2{
    width: 160px;
    height:100px;
    padding: 0;
    background-color: #09427D;
    border-radius: 10px;

}





#opcoes{
    padding: 0;
    text-align: center;
}



