html, body{
    height: 100%;
}

body{
    margin: 0;
    background-color: #09427D;
    align-items: center;
}


.tituloHeader{
    width: 100%;
    color:#fff;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 30px;
    position: fixed;
    height: 120px;
    
}

.seta{
    width: 30px;
    height: 30px;
    padding: 10px;
    border: none;
    text-align: left;
    
}

main{
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 18%;
}

.Modelos{
    position: relative;
    text-align: center;
    border: none;
    appearance: none;

}

.Modelos .conteudoModelos {
    position: relative;
}

.Modelos .conteudoModelos .botaoModeloMaquina2 {
    position: relative;
    appearance: none;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    width: 80%;
    color: #474747;
    font-size: 20px;
    text-align: left;
    margin: 15px;
    border-radius: 20px;
    background: linear-gradient(to right, #D6D6D6 95%, #FF4A29 5%);
    cursor: pointer;

}


.Modelos .conteudoModelos .botaoModeloMaquina2::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #771000;
    text-align: center;

}

.Modelos .conteudoModelos.active .botaoModeloMaquina2::before {
    content: '-';
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    font-size: 1.5em;

}


.Modelos .conteudoModelos .status1 {
    position: relative;
    background-color: #09427D;
    font-size: 20px;
    color: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    width: 75%;
    border-radius: 20px;
    text-align: left; 
    margin: auto;

    /* teste */

}

.Modelos .conteudoModelos.active .status1 {
    height: 120px;
    padding: 10px;
    text-align: left;
}



.Modelos .conteudoModelos .botaoModeloMaquina {
    position: relative;
    appearance: none;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    width: 80%;
    color: #474747;
    font-size: 20px;
    text-align: left;
    margin: 15px;
    border-radius: 20px;
    background: linear-gradient(to right, #D6D6D6 95%, #008000 5%);
    cursor: pointer;

}


.Modelos .conteudoModelos .botaoModeloMaquina::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #004100;
    text-align: center;

}

.Modelos .conteudoModelos.active .botaoModeloMaquina::before {
    content: '-';
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    font-size: 1.5em;

}


.Modelos .conteudoModelos .botaoModeloMaquina3 {
    position: relative;
    appearance: none;
    padding: 1rem;
    border-radius: 20px;
    border: none;
    width: 80%;
    color: #474747;
    font-size: 20px;
    text-align: left;
    margin: 15px;
    border-radius: 20px;
    background: linear-gradient(to right, #D6D6D6 95%, #FFC81F 5%);
    cursor: pointer;

}


.Modelos .conteudoModelos .botaoModeloMaquina3::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #8C6800;
    text-align: center;

}

.Modelos .conteudoModelos.active .botaoModeloMaquina3::before {
    content: '-';
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    font-size: 1.5em;

}




.Maquina{
    font-size: 20px;
    color: #09427D;
}

.SeriePalavra{
    font-size: 15px;
}

.NumeroSerie{
    font-size: 15px;
    color:#09427D;

}

.MarcaPalavra{
    font-size: 15px;

}

.MarcaNome{
    font-size: 15px;
    color: #09427D;

}

.Modelos .conteudoModelos.active .status1 .temperatura1 {
    text-align: left;
    
}

.Modelos .conteudoModelos.active .status1 .temperaturaValor1 {
    text-align: right;   
}

.Modelos .conteudoModelos.active .status1 .ruido1 {
    text-align: left;

}

.Modelos .conteudoModelos.active .status1 .ruidoValor1 {
    text-align: right;   

}

.Modelos .conteudoModelos.active .status1 .vibra1{
    text-align: left;

}

.Modelos .conteudoModelos.active .status1 .vibraValor1{
    text-align: right;   

}

.Modelos .conteudoModelos.active .status1 .status2{
    text-align: left;

}

.Modelos .conteudoModelos.active .status1 .statusValor2{
    text-align: right;   
    
}