<head>
    <!-- Links pro PWA -->

    <title>Document</title>
</head>

<body>

<header>
    <div>
        <h2>
            Informe as principais informações da sua
            <p>empresa</p>
        </h2>
    </div>

</header>
<main>
    <div class="containerForm">
        <h3 class=title>CNPJ</h3>
        <input class="form-control" id="cnpjDaEmpresa" placeholder="Digite o CNPJ da empresa"/>

        <div>
            <label>Nome da empresa</label>
            <input type="text" id="nomeEmpresa" class="form-control"/>
        </div>

        <div>
            <label>Digite sua senah</label>
            <input type="password" id="password"/>
        </div>

        <div>
            <label>Confirme sua senha</label>
            <input type="password" id="confirmPassword"/>
        </div>

    </div>
    <div >
        <a id="tester">
            <button class="btn btn-submit" type="submit">Fazer tester</button>
        </a>
        @*
            <a onclick="fazertester()" class=buttonCadastrar><button class=buttonCadastrarText>Cadastrar</button></a>
            <p class=buttonLogin>Ja tem cadastro? Faça o <a href="/TelaLogin/login.html" class=textoLogin>Login</a></p>*@
    </div>
</main>
</body>

@section scripts{
    <script lang="javascript">
        $("#tester").click(function () {
            var valor = $('#cnpjDaEmpresa').val();
            $.ajax({
                url: 'https://receitaws.com.br/v1/cnpj/'+valor ,
                type : 'GET',
                dataType: 'jsonp',
                success: function (dado){
                    if (dado.nome == undefined){
                        alert("CNPJ inválido");
                    }else {
                        var dataForDb = {Id : Math.round(Math.random() * 10000)  ,CNPJ : valor , SocialReason : dado.nome , FantasyName : dado.fantasia , Password : document.getElementById('password').value, ConfirmPassword : document.getElementById('confirmPassword').value, Address : dado.logradouro + '' + dado.numero , City : dado.municipio , State : dado.uf , NumberOfLocation : dado.cep , Sector : dado.atividade_principal[0].text};
                        var f = JSON.stringify({Id : Math.round(Math.random() * 10000)  ,CNPJ : valor , SocialReason : dado.nome , FantasyName : dado.fantasia , Password : document.getElementById('password').value, ConfirmPassword : document.getElementById('confirmPassword').value, Address : dado.logradouro + '' + dado.numero , City : dado.municipio , State : dado.uf , NumberOfLocation : dado.cep , Sector : dado.atividade_principal[0].text});
                        
                        //console.log(dataForDb);
                        console.log(f);
                        $.ajax({
                            url : '/Enterprise/SignUp/',
                            type : 'POST',
                            data : {dado : f},
                            dataType: 'string',
                            success: function (){
                                alert('criada com sucesso');     
                            }
                        });
                        
                    }
                    console.log(dado);
                    
                }
            });
        });
    </script>
}