

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/TelaCadastroEmpresa/style.css">

    <!-- Links pro PWA -->
    <noscript><link rel="stylesheet" href="/assets/noscript.css" /></noscript>
    <link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileImage" content="/assets/AppIcons/Assets.xcassets/AppIcon.appiconset/_/144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff" />
    <link rel="shortcut icon" sizes="192x192" href="/assets/AppIcons/Assets.xcassets/AppIcon.appiconset/_/icon_192.png">
    <link rel="shortcut icon" sizes="128x128" href="/assets/AppIcons/Assets.xcassets/AppIcon.appiconset/_/icon_128.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="PWA Teste">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="/assets/AppIcons/appstore.png">

    <title>Document</title>
</head>

<body>

    <header>
        <div class=containerHeader>
            <h2 class=primeiroTitulo>
                Informe as principais informações da sua
                <p class=segundoTitulo>empresa</p>
            </h2>
        </div>

    </header>
    <main>
        <div class=containerForm>
            <h3 class=title>CNPJ</h3>
            <input class=inputTexto placeholder="Digite o CNPJ da empresa" />
            <h3 class=title>Senha</h3>
            <input class=inputTexto placeholder='Digite sua senha' />
            <h3 class=title>Confirmar Senha</h3>
            <input class=inputTexto placeholder='Digite sua senha novamente' />


        </div>
        <div class="divButao">
            <a href="/TelaInicio/tela_Inicio.html" class=buttonCadastrar><button class=buttonCadastrarText>Cadastrar</button></a>
            <p class=buttonLogin>Ja tem cadastro? Faça o <a href="/TelaLogin/login.html" class=textoLogin>Login</a></p>
        </div>
    </main>
</body>

