@model PI.Domain.ViewModel.Machine.AddMachineViewModel
@{
    Layout = "_appLayout";
}
<link rel="stylesheet" href="~/assets/styles/create.css">
<header>
    <div class="machineText container">
        Digite as principais informações da sua
        <span class="maquinaSpan">máquina</span>
    </div>
</header>
<div class="container">
    <form asp-action="Add" asp-controller="Machine" method="post">
        <div class="container-fluid row forms-container">
            <div class="forms forms-content-infos">
                <div class="col">
                    <div class="brandName itens" style="margin-left: 6%">
                        <label class="texto" asp-for="Brand">Marca</label>
                        <input class="form-control" asp-for="Brand" type="text">
                    </div>
                    <div class="categoryName itens" style="margin-left: 6%">
                        <label asp-for="Category"> Categoria</label>
                        <select class="form-select" asp-for="Category" id="inputGroupSelect01">
                            <option selected>Escolha uma opção</option>
                            @foreach (string name in (List<string>)ViewBag.MachineCategoriesAsStringList)
                            {
                                <option value="@name">@name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col pb-5">
                    <div class="modelName itens" style="margin-left: 6%">
                        <label asp-for="Model"> Modelo</label>
                        <input class="form-control" asp-for="Model" type="text">
                    </div>
                    <div class="tagName itens" style="margin-left: 6%">
                        <label asp-for="Tag">Tag</label>
                        <input class="form-control" asp-for="Tag" type="text">
                    </div>
                </div>
                <div class="serieNum itens" style="margin-left: 6%">
                    <label class="texto" asp-for="SerialNumber">Número de Série</label>
                    <input class="form-control" asp-for="SerialNumber" type="text">
                </div>
            </div>
        </div>
        <div class="container-fluid maxemin">
            <div class=" d-flex flex-row mb-2 ms-3">
                <div class="flex-column p-2 flex-fill">
                    <label class="maxTemp">Máx</label> <br>
                    <div class="maxtemp">
                        <input type="number" asp-for="MaxTemp"> <label>ºC</label>

                    </div>
                    <div class="maxfreq ">
                        <input type="number" asp-for="MaxVibration"> <label>Hz</label>

                    </div>
                    <div class="maxnoise">
                        <input type="number" asp-for="MaxNoise"> <label>dB</label>

                    </div>
                </div>
                <div class="flex-column p-2 flex-fill">
                    <label class="minTemp">Mín</label> <br>
                    <div class="mintemp">
                        <input type="number" asp-for="MinTemp"> <label>ºC</label>

                    </div>
                    <div class="minfreq">
                        <input type="number" asp-for="MinVibration"> <label>Hz</label>

                    </div>
                    <div class="minnoise">
                        <input type="number" asp-for="MinNoise"> <label>dB</label>

                    </div>
                </div>
                <div class="flex-column p-2 flex-fill tipos-container">
                    <div class="tempName">
                        <h6>Temperatura</h6>
                    </div>
                    <div class="vibraName">
                        <h6>Vibração</h6>
                    </div>
                    <div class="noiseName">
                        <h6>Ruído</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="divButton container mt-3">
            <input class=" btn btn-primary btn-cad" type="submit" id="sendButton" value="Salvar" />
        </div>
    </form>
</div>
