@{
    Layout = "_appLayout";
}
<main>

    <div class="container">
        <div class="container-fluid row forms-container">
            <div class="forms forms-content-infos">
                <div class="col">
                    <div class="brandName itens" style="margin-left: 6%">
                        <label for="exampleFormControlInput1" class="texto">Marca</label>
                        <input class="form-control" placeholder="  " type="text">
                    </div>

                    <div class="categoryName itens" style="margin-left: 6%">
                        <label for="exampleFormControlInput1"> Categoria</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col pb-5">
                    <div class="modelName itens" style="margin-left: 6%">
                        <label for="exampleFormControlInput1"> Modelo</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="tagName itens" style="margin-left: 6%">
                        <label for="exampleFormControlInput1">Tag</label>
                        <input class="form-control" type="text">
                    </div>
                </div>

                <div class="serieNum itens" style="margin-left: 6%">
                    <label for="exampleFormControlInput1" class="texto">Número de Série</label>
                    <input class="form-control" placeholder="  " type="text">
                </div>

            </div>
        </div>

        <div class="container-fluid maxemin">
            <div class=" d-flex flex-row mb-2 ms-3">
                <div class="flex-column p-2 flex-fill">
                    <label class="maxTemp">Máx</label> <br>
                    <div class="maxtemp">
                        <input type="number"> <label>ºC</label>

                    </div>
                    <div class="maxfreq ">
                        <input type="number"> <label>Hz</label>

                    </div>
                    <div class="maxnoise">
                        <input type="number"> <label>dB</label>

                    </div>
                </div>
                <div class="flex-column p-2 flex-fill">
                    <label class="minTemp">Mín</label> <br>
                    <div class="mintemp">
                        <input type="number"> <label>ºC</label>

                    </div>
                    <div class="minfreq">
                        <input type="number"> <label>Hz</label>

                    </div>
                    <div class="minnoise">
                        <input type="number"> <label>dB</label>

                    </div>
                </div>
                <div class="flex-column p-2 flex-fill tipos-container">
                    <div class="tempName">
                        <h6>Temperatura</h6>
                    </div>
                    <div class="vibraName">
                        <h6>Vibração</h6>
                    </div>
                    <div class="noiseName">
                        <h6>Ruído</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- botão cadastrar -->
        <div class="divButton container mt-3">
            <a class="btn btn-primary btn-cad" id="sendButton">Cadastrar</a>
        </div>

    </div>

</main>
