@using PI.Domain.ViewModel.Machine;
@model EditMachineViewModel

@{
    Layout = "_Layout";
}
<!-- header -->
<header>
    <div class="machineText container">
        Edite as principais informações da sua
        <span class="maquinaSpan">máquina</span>
    </div>
</header>
<!-- main - forms -->

<form asp-controller="Machine" asp-action="Edit" method="POST">
    <div class="container-fluid row forms-container">
        <div class="forms">
            <div class="col">
                <div class="brandName itens" style="margin-left: 6%">
                    <label class="texto">Marca</label>
                    <input asp-for="Brand" type="text" placeholder="Marca de mãquina" class="form-control" />
                    <span asp-validation-for="Brand"></span>
                </div>
                <div class="categoryName itens" style="margin-left: 6%">
                    <label> Categoria</label>
                    @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewBag.MachineCategoriesAsStringList, new {@class = "form-select"})
                    <span asp-validation-for="Category"></span>
                </div>
            </div>
            <div class="col pb-5">
                <div class="modelName itens" style="margin-left: 6%">
                    <label> Modelo</label>
                    <input asp-for="Model" class="form-control" type="text" placeholder="Digite o modelo" />
                    <span asp-validation-for="Model"></span>
                </div>
                <div class="tagName itens" style="margin-left: 6%">
                    <label>Tag</label>
                    <input asp-for="Tag" placeholder="Digite a tag" class="form-control" type="text" />
                    <span asp-validation-for="Tag"></span>
                </div>
            </div>
            <div class="itens" style="margin-left: 6%">
                <label class="texto">Número de Série</label>
                <input class="form-control" asp-for="SerialNumber" type="text" placeholder="Digite o número de série" />
                <span asp-validation-for="SerialNumber"></span>
            </div>
        </div>
    </div>
    <div class="container-fluid maxemin">
        <div class=" d-flex flex-row mb-2 ms-3">
            <div class="flex-column p-2 flex-fill">
                <label class="">Máx</label> <br>
                <div class="">
                    <input asp-for="MaxTemp" type="number" />
                    <span asp-validation-for="MaxTemp"></span>
                    <label>ºC</label>

                </div>
                <div class=" ">
                    <input asp-for="MaxVibration" type="text" />
                    <span asp-validation-for="MaxVibration"></span>
                    <label>Hz</label>

                </div>
                <div class="">
                    <input asp-for="MaxNoise" type="text" />
                    <span asp-validation-for="MaxNoise">S</span>
                    <label>dB</label>

                </div>
            </div>
            <div class="flex-column p-2 flex-fill">
                <label class="">Mín</label> <br>
                <div class="">
                    <input asp-for="MinTemp" type="number" />
                    <span asp-validation-for="MinTemp"></span>
                    <label>ºC</label>

                </div>
                <div class="">
                    <input asp-for="MinVibration" type="number" />
                    <span asp-validation-for="MinVibration"></span>
                    <label>Hz</label>

                </div>
                <div class="">
                    <input asp-for="MinNoise" type="number" />
                    <span asp-validation-for="MinNoise"></span>
                    <label>dB</label>

                </div>
            </div>
            <div class="flex-column p-2 flex-fill tipos-container">
                <div class="tempName">
                    <h6>Temperatura</h6>
                </div>
                <div class="vibraName">
                    <h6>Vibração</h6>
                </div>
                <div class="noiseName">
                    <h6>Ruído</h6>
                </div>
            </div>
        </div>
    </div>
    <div hidden>
        <input asp-for="MachineId" value="@Model.MachineId" />
    </div>
    <div class="divButton container mt-3">
        <button class="btn btn-primary" type="submit" id="sendButton">Salvar</button>
    </div>
</form>
