body{
    margin: 0;
    background-color: #09427D;
}

.logo {
    border-radius: 50%;
    padding: 5%;
    width: 20%;
    height: 20%;
}

h1{
    text-align: center;
    color: #09427D;
}

.tituloHeader{
    width: 100%;
    color:#fff;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

main{
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 18%;
}

.bodyForms{
    padding: 0 10% 0 10%;
    position: fixed;
    left: 0;
    right: 0;
    /* bottom: 50; */
}

label{
    color:#474747;
    font-size: 20px;
    display: flex;
    margin: 0;
}
#categoria{
    width: 100%;
    margin-left: 5px;
    border-color: #09427D;
    outline: none;
    color: #09427D;
    

}
.inputPadrao{
    display: flex;
    border: none;
    border-bottom: solid 1px #09427D;
    width: 100%;
    padding-bottom: 2px;
    outline: none;

}

.detalhesTexto{
    width: 100%;
    height: 40px;
    letter-spacing: 1px;
    outline: none;
    border-color: #09427D;

}
/* .detalhes{
    display: block;
    margin: 0;
} */
input[type="checkbox"]{
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 5px;

}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#09427D;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

footer{
    padding: 0 10% 0 10%;
    position: fixed;
    top: auto;
    bottom: 5%;
    right: 0;
    left: 0;
}

.butaoEnviar{

    padding: 5% 0 5% 0;
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: #09427D;
    color: white;
    font-size: 20px;
}

.butaoEnviar:hover{
    background-color: #003333;
    animation-delay: 5s;
}

