html, body{
    height: 100%;
}

body{
    margin: 0;
    background-color: #d6d6d6;
    align-items: center;
}


.tituloHeader{
    width: 100%;
    color:#09427D;
    top: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: space-between;
    font-size: 30px;
    position: relative;
    height: 8px;
}

.seta{
    width: 30px;
    height: 30px;
    padding: 10px;
    border: none;
    text-align: left;
    align-items: center;
}

main{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 8%;
}
/*
.tituloHeader .menu {
    width: 30px;
    height: 30px;
    padding: 20px;
    border: none;
    text-align: right;
}
*/

.menuModelo {
    color:white;
    background-color: #09427D;
    text-align: center;
    height: 40px;

}

.menuModelo .botoesMenu{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    padding-top: 6px;
    
    
}

.menuModelo a {
    color: #fff;
    border: none;
}

.menuModelo .realTime{
    padding: 20px;

}

.menuModelo .hystory{
    padding: 20px;
}

.menuModelo .export{
    padding: 20px;
}

.grafico1{
    margin: 0px;
}

.statusMsg {
    text-align: left;
    margin-left: 20px;
    color: #09427D;
    font-size: 20px;
}

.MenuInferior{
    color:white;
    background-color: #09427D;
    text-align: center;
    height: 40px;

}

.MenuInferior .botoesConfig {
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 6px;

}

.MenuInferior .botoesConfig .tempBut {
    text-align: left;
    margin-left: 18px;
    height: 16px;
    border-radius: 0;
    border-color: #fff;
    background-color: transparent;
}

.MenuInferior .botoesConfig .vibraBut {
    text-align: left;
    margin-left: 18px;
    height: 16px;    
    border-color: #fff;
    background-color: transparent;
}

.MenuInferior .botoesConfig .ruidBut {
    text-align: left;
    margin-left: 18px;
    height: 16px;    
    border-color: #fff;
    background-color: transparent;
}

.menuInfo{
    margin-top: 20px;
    margin-left: 25px;
    color: black;
    font-size: 18px;
    text-align: left;
}

.menuInfo .temp1 {
    font-size: 20px;
    text-align: center;
    background-color: #09427D;
    color: #d6d6d6;
    padding: 5px;
    border-radius: 10px;
    margin-top: -10px;
    border-right-width: 15px;
    border-color: transparent;


}

.menuInfo .ruido1 {
    font-size: 20px;
    text-align: center;
    background-color: #09427D;
    color: #d6d6d6;
    padding: 5px;
    border-radius: 10px;
    margin-top: -10px;
    border-color: transparent;


}

.menuInfo .vibra1 {
    font-size: 20px;
    text-align: center;
    background-color: #09427D;
    color: #d6d6d6;
    padding: 5px;
    border-radius: 10px;
    margin-top: -10px;
    border-right-width: 13px;
    border-color: transparent;

}

@media (max-width: 600px) {
#menu {
    display:block;
    position: absolute;
    align-items:flex-end;
    text-align: right;
    width: 100%;
    right: 0px;
    background: #d6d6d6;
    color: #09427D;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
}

#menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#btn-mobile {
    display: flex;
    right: 0px;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

#hamburger {
    border-top: 2px solid;
    width: 20px;
    color: #09427D;
    position: relative;
}
#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
}
#nav.active #hamburger {
    border-top-color: transparent;
}
#nav.active #hamburger::before {
    transform: rotate(135deg);
}
#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}
}