* {
    /*box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.8);*/
    font-family: system-ui;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

header {
    margin-bottom: 5%;
}

#navbar {
    background-color: #09427D ;
}

label{
    font-weight: 400;
    margin-bottom: 1%;
}

.itens{
    padding-bottom: 10px;
}

 .modelName, .brandName {
    font-weight: bold;
    float: left;
    width: 40%;
}


input{
    width: 45px; 
    border-color: transparent white rgb(200, 198, 198) transparent;
}

 .tagName, .categoryName, #categoryName {
    font-weight: bold;
    float: right;
    width: 40%;
}

.tipos-container{
    margin-top: 8%;
}

 .noiseName, .vibraName, .tempName {  
    align-items: center;
    margin-top: 8%;
} 

.icone {
    font-size: 25px;
}

#sendButton {
    margin-bottom: 50px;
    font-size: 20px; 
    background-color: #0E56A0cc !important; 
    border: none;
}


