
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header{
    height: 70px;
    background-color: #09417d2d;
    border-radius: 0px 0px 5px 5px;

}

header .name-app{
    font-size: 25px;
    
}

#status-container{
  padding: 15px;
  margin-top: 10px;
}


.container-categories{
    padding: 0px 20px 40px 20px;
    width: 18rem;
    
}

.categories-group{
    padding: 10px;
}

.text-div{
    background-color: #09427D;
    border-radius: 8px;
    
}

#navbar {
    background-color: #09427D;
}

#home_bt:hover{
    background-image: url("/PI.Web/Views/assets/Icons/home_active.png");
}

