.action{
    bottom: fixed;
    margin: 0;
    position: fixed;
    
}

.title{
    font-size: 20px;
}

.statusAction{
    padding: 10% 0 10% 0; 
}

.statusEspe{
    padding: 6% 5% 6% 0%;
    text-align: center;
    width: 50%;
}

.button{
    width: 110px;
    padding: 7% 0 7% 0;
    background-color: #2b5690;
}

body{
    bottom: 0;
    position: relative;
    height: auto;
    max-height: 915px;
}

.chartArea{
    height: 220px;
}

@media (min-height: 680px) and (max-height:915px) {
    .chartArea{
        height: 320px;
    }

    .rowStyle{
        height: 300px;
    }

    .button{
        width: 110px;
        padding: 10% 0 10% 0;
        background-color: #2b5690;
    }

    .statusAction{
        padding: 8% 0 8% 0; 
    }
}

