:root {
    --font-primary: "Montserrat", sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--font-primary) !important;
}

.machineText{
    font-size: 35px; 
    text-align: left;
}

.machineText span{
    font-size: 30px;  
    font-weight: bold; 
}


.maquinasSelect .card-header{
    font-weight: 500;
}

.statusMaquina span{
    max-width: 16px;
    max-height: 16px;
}

.statusMaquina .num{
    max-width: 90px;
}

/* .card-header{
    background-color: #e5f0ff !important;
    border-color: #8dc0f7;
} */

.card-header{
    background-color: #2b5690 !important;
    border-color: #8dc0f7;
    color: white;
}

.card-footer{
    background-color: white !important;
}

#navbar {
    background-color: #2b5690;
}

.icone {
    font-size: 25px;
}

@media (max-width:376px) {
    h2 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
}

@media (min-width:390px) and (max-width:394px){
    h2 {
        font-size: 22px;
    }
    h5 {
        font-size: 18px;
    }
}

/* 375 667 bug
360 740 bug
390 844 bug
393 851 bug
412 915 ok
414 896 ok */
