

.logo {
    max-height: 160px;
    max-width: 160px;
    margin-bottom: 10%;
}

.col-2 {
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}

.col-9 .row .col-5 {
    font-size: 16px;
    padding: 0;
}

.content-menu{
    padding-top: 2%;
}

.icones i{
    font-size: 24px;
}

#categoria, #categoria-a, #categoria-b {
    font-weight: bold;
    padding-top: 6px;
}

#categoria-1, #categoria-2, #categoria-3 {
    font-size: 15px;
    padding: 0;
    color: #696969;
}

#row {
    border-top: 1px solid #D6D6D6;
}

.entrar{
    padding-top: 20px;
    
}

.entrar i{
    color: black;
    font-size: 16px;
    
}

@media (min-width:390px){
    .logo{
        height: 250px;
        width: 300px;
        margin-bottom: 12%;
    }
}

